{{ title('À propos') }}

<div class="col-md-12 bg-light">
    <div class="login d-flex align-items-center py-5">
        <div class="container">
            <div class="row">

                <h2 class="display-3 title-underline mb-5">À propos</h2>



                    <h3>Présentation</h3>
                    <p>
                        Criminologie, revue fondée en 1968 par Denis Szabo (précédée de Acta Criminologica), présente
                        principalement des résultats de recherche et s'adresse tant aux scientifiques qu’aux
                        professionnels de la justice pénale. C’est une revue thématique qui répond aux préoccupations et
                        aux intérêts actuels des criminologues québécois et étrangers. Les thèmes abordés sont souvent
                        pluridisciplinaires et la revue fait appel à des chercheurs en criminologie, sociologie,
                        psychologie, droit, etc. Elle est la seule revue de criminologie publiée en français en
                        Amérique. Une brève histoire de la revue est présentée ici.
                        <br><br>
                        Criminologie paraît deux fois par année grâce à des subventions du Conseil de recherches en
                        sciences humaines du Canada et du Fonds québécois de la recherche sur la société et la culture.
                    </p>

                    <h3>Mission</h3>
                    <p>
                        La mission de la revue Criminologie est de publier des articles présentant des résultats de
                        recherche inédits. Les auteurs sont invités à soumettre leur article et à en suivre l'évolution
                        directement sur notre plateforme de gestion des articles : https://www.criminologie.ca. La
                        publication de tous les articles résulte d'un processus d'évaluation par les pairs rigoureux,
                        incluant une première lecture à l'interne et la soumission à deux experts indépendants, non
                        affiliés à l'Université de Montréal, choisis pour leur connaissance du sujet traité.
                    </p>

                    <h3>Indexation</h3>
                    <p>
                        Association canadienne des revues savantes (ACRS)<br>
                        Base<br>
                        BrowZine<br>
                        Centre d'accès à l'information juridique<br>
                        Criminal Justice Abstracts (EBSCO)<br>
                        Érudit<br>
                        ExLibris Primo Central<br>
                        Francis<br>
                        Google Scholar<br>
                        HeinOnline - Index to Foreign Legal Periodicals<br>
                        Index Philosopher<br>
                        INIST<br>
                        Isidore<br>
                        Journal TOCS<br>
                        JSTOR<br>
                        Meta-lib<br>
                        Mir@bel<br>
                        National Criminal Justice Reference Service (NCJRS)<br>
                        OAIster<br>
                        Proquest<br>
                        PubMed<br>
                        Repère<br>
                        Social Service Abstracts<br>
                        Sociological Abstracts<br>
                        Web of Science<br>
                        WorldCat
                        <br><br>
                        Dépôt légal : Bibliothèque nationale du Québec, Bibliothèque nationale du Canada<br>
                        ISSN : 0316-0041 (imprimé), 1492-1367 (numérique)
                    </p>

                    <h3>Éditeur</h3>
                    <p>
                        Les Presses de l'Université de Montréal<br>
                        <a href="https://www.pum.umontreal.ca/revues/criminologie">https://www.pum.umontreal.ca/revues/criminologie</a>
                    </p>

                    <h3>Libre accès</h3>
                    <p>
                        Les numéros courants et les archives de cette revue sont offerts en libre accès sur le site de
                        <a href="https://www.erudit.org/fr/revues/crimino/#back-issues">Érudit</a>.
                    </p>

                    <h3>Abonnement à la revue imprimée</h3>
                    <p>
                        Les Presses de l'Université de Montréal<br>
                        Service des abonnements<br>
                        C.P. 6128, succ. Centre-ville<br>
                        Montréal (Québec) <br>
                        Canada H3C 3J7<br>
                        pum@umontreal.ca <br>
                    </p>


                </div>
            </div>
        </div>
    </div>


<style>
    .text-left {
        text-align: left;
    }
</style>