{{ title('Nous joindre') }}


<div class="col-md-12 bg-light">
    <div class="login d-flex align-items-center py-5">
        <div class="container">
            <div class="row">

                <h2 class="display-3 title-underline mb-5">Nous joindre</h2>


                <h3 class="text-left">Coordonnées postales:</h3>
                <p class="text-left">
                    Revue Criminologie<br>
                    Centre International de criminologie comparée<br>
                    Université de Montréal<br>
                    C.P 6128, succ. Centre-ville<br>
                    Montréal (Québec)<br>
                    Canada H3C 3J7<br>
                </p>
                <br>
                <h3 class="text-left">Nos bureaux:</h3>
                <p class="text-left">
                    Université de Montréal<br>
                    Pavillon Lionel-Groulx<br>
                    3150, Jean-Brillant, bureau C-4115<br>
                    Montréal (Québec)<br><br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.5363651720345!2d-73.62028118405773!3d45.49928037910135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc919f231faae4d%3A0xc5babf62d503bfb6!2s3150+Rue+Jean-Brillant%2C+Montr%C3%A9al%2C+QC+H3T+1N8!5e0!3m2!1sen!2sca!4v1490812424708"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </p>
                <br>
                <h3 class="text-left">Équipe éditoriale:</h3>
                <p class="text-left">
                    <b>Directeur de la revue</b><br>
                    <a href="mailto:david.decary-hetu@umontreal.ca">David Décary-Hétu</a>
                    <br><br>
                    <b>Directrice adjointe de la revue</b><br>
                    <a href="mailto:catherine.arseneault.1@umontreal.ca">Catherine Arseneault</a>
                    <br><br>
                    <b>Coordonnatrice à la rédaction</b><br>
                    <a href="mailto:coordonnatrice@criminologie.ca">Lune Wagner</a>
                    <br><br>
                    <b>Assistant à la rédaction</b><br>
                    <a href="mailto:assistant@criminologie.ca">Antoine Chopin</a>
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .text-left {
        text-align: left;
    }
</style>