{{ title('Instructions pour auteurs') }}

<div class="col-md-12 bg-light">
    <div class="login d-flex align-items-center py-5">
        <div class="container">
            <div class="row">

                <h2 class="display-3 title-underline mb-5">Directives aux auteurs</h2>

                <p>
                </p>
                <h3 class="text-left">Politiques des rubriques:</h3>
                <p class="text-left">
                    <b>Articles thématiques</b><br>
                    Chaque numéro présente un aspect d’une même problématique sous forme d’un dossier thématique. Les
                    rédacteurs invités sollicitent généralement des spécialistes dans le domaine et les invitent à soumettre un
                    article. La soumission de textes dans cette rubrique est réservée aux auteurs invités. Toutefois, si vous êtes
                    intéressés par une des thématiques à paraître, veuillez communiquer avec le secrétariat de la rédaction
                    à <a href="mailto:admin@criminologie.ca">admin [at] criminologie [point] ca</a>.
                    <br><br>
                    <b>Articles hors thèmes</b><br>
                    Chaque numéro réserve une section aux articles hors thème, qui comporte des articles soumis par des
                    chercheures et des chercheurs qui désirent rendre compte des résultats de leurs travaux récents. Cette
                    section est ouverte à tous et porte sur des sujets variés. Tous les articles soumis dans cette rubrique
                    sont préévalués à l’interne avant de faire l’objet d’une évaluation par les pairs.
                </p>
                <br><br><br>

                <h3 class="text-left">Processus d’évaluation par les pairs:</h3>
                <p class="text-left">
                    Chaque article anonymisé est soumis à deux évaluateurs anonymes non affiliés à l'Université de Montréal.
                </p>
                <br><br><br>

                <h3 class="text-left">Soumissions:</h3>
                <p class="text-left">
                    Toutes les soumissions doivent être envoyées à la Revue Criminologie à partir du système de gestion en
                    ligne des articles hébergé sur ce site web. Les auteurs ne possédant pas de compte sur notre système de
                    gestion en ligne des articles peuvent en créer un en <a href="/register">suivant ce lien</a>.
                </p>
                <br><br><br>

                <h3 class="text-left">Format des soumissions</h3>
                <ul class="text-left indented-list">
                    <li>La Revue Criminologie ne publie que des manuscrits originaux et inédits en français sur des
                        résultats de recherche se rapportant à la délinquance, à la criminalité et à leur contrôle. Les
                        manuscrits soumis ne doivent pas déjà être publiés en ligne ou dans une autre revue.
                    </li>
                    <li>Les manuscrits doivent être soumis en format Word.</li>
                    <li>Les manuscrits doivent être présentés en Times New Roman, à double interligne.</li>
                    <li>Les manuscrits ne doivent pas dépasser 8,500 mots incluant le titre, le résumé, les tableaux et
                        les références.
                    </li>
                    <li>Les soumissions doivent inclure une page titre en format Word distincte du manuscrit principal
                        qui contient le titre du texte, le nom des auteurs, leurs affiliations professionnelles, leurs
                        courriels, l’adresse de correspondance du premier auteur ainsi que le nombre de mots de
                        l’article (titre, résumé, tableaux et références inclus).
                    </li>
                    <li>Le titre ne doit pas dépasser 64 caractères, espaces compris. Un sous-titre peut suivre avec un
                        maximum de 155 caractères, espaces compris.
                    </li>
                    <li>Les manuscrits doivent inclure deux résumés d’au plus 15 lignes chacun, l’un en anglais et
                        l’autre en français, ainsi que des mots clés (5 maximum) dans chacune des langues. La version anglaise
                        du titre devra également être fournie.
                    </li>
                    <li>Si les auteurs ont reçu un soutien financier d’un organisme subventionnaire pour la rédaction du
                        manuscrit, les auteurs doivent le mentionner dans la page titre.
                    </li>
                    <li>Le fichier contenant le manuscrit principal doit être anonyme, autant dans le texte que dans ses
                        méta-données. Les auteurs doivent remplacer toute mention de leurs noms par la mention AUTEUR
                        dans le texte et dans les références.
                    </li>
                    <li>Les tableaux doivent être identifiés dans un ordre séquentiel selon le modèle suivant : Tableau
                        1, Tableau 2, etc.
                    </li>
                    <li>Les tableaux doivent être créés avec les fonctionnalités appropriées du traitement de texte. Le
                        contenu des cellules ne devrait pas être séparé par des tabulations mais par de véritables
                        cellules.
                    </li>
                    <li>Les tableaux doivent être présentés à la fin du texte. Il faut toutefois indiquer à quel endroit
                        dans le manuscrit ils devront être insérés.
                    </li>
                    <li>Les figures doivent être identifiées dans un ordre séquentiel selon le modèle suivant : Figure
                        1, Figure 2, etc.
                    </li>
                    <li>Les auteurs doivent déposer séparemment des versions électroniques des figures, de préférence de
                        format TIFF, EPS ou Photoshop, dotées d’une excellente résolution (minimum 300 DPI). Les auteurs
                        doivent indiquer à quel endroit dans le manuscrit les figures devront être insérées.
                    </li>
                    <li>Les figures en couleur doivent aussi être soumises en noir et blanc.</li>
                    <li>Les notes doivent être numérotées et apparaître en bas de page. Les auteurs doivent utiliser la
                        fonction appropriée du traitement de texte pour lier les notes de bas de page aux appels de
                        notes dans le manuscrit.
                    </li>
                    <li>Les appels de notes sont en exposant et se trouvent immédiatement après le passage auquel ils
                        renvoient, et avant la ponctuation. Ex. : « [...] fin de la citation<sup>1</sup>. ». Les auteurs
                        doivent éviter d’utiliser les notes pour expliquer et approfondir leurs propos et les réserver
                        pour des précisions essentielles.
                    </li>
                    <li>Les auteurs ne doivent pas citer les renseignements bibliographiques en entier dans le texte ou
                        en notes infrapaginales. Les auteurs doivent indiquer, entre parenthèses, le nom de l’auteur
                        référencé suivi de l’année de publication. S’il y a lieu, les auteurs peuvent indiquer les pages
                        auxquelles ils réfèrent: (Boileau, 1991, p. 312).
                    </li>
                    <li>Lorsqu’un plus d’un ouvrage publié la même année d'un auteur est référencé, les auteurs doivent
                        les distinguer par les lettres a, b, c, etc., ajoutées à l’année. Ex. : (Boileau, 1991a).
                    </li>
                    <li>Si plusieurs auteurs sont mentionnés dans une même référence, les auteurs doivent indiquer
                        ordonner les auteurs référencés par ordre alphabétique et les séparer par un point-virgule. Ex. :
                        (Dupuis, 1995; Fagnan, 1991; Tardif, 1998).
                    </li>
                    <li>Si un ouvrage référencé compte deux auteurs, les auteurs doivent mentionner les deux noms.
                        (Boileau et Fagnan, 1991).
                    </li>
                    <li>Si un ouvrage référencé compte trois, quatre ou cinq auteurs, les auteurs doivent citer tous les
                        noms la première fois. Dans les citations subséquentes, les auteurs doivent citer le premier
                        auteur suivi de « et al. ».
                        Ex. : (Sanders, Murph et Eng, 1997) [1e citation dans le texte] et (Sanders et al., 1997)
                        [citations subséquentes].
                    </li>
                    <li>Si un ouvrage comporte six auteurs et plus, les auteurs ne doivent citer que le premier auteur
                        suivi par « et al. » tout au long du texte.
                    </li>
                    <li>Lorsque le nom d’un organisme est mentionné dans une référence, les auteurs doivent inscrire le
                        nom de l'organisme au complet lors de la première citation. Les auteurs peuvent utiliser une
                        abréviation, un sigle ou un acronyme par la suite, pourvu que ce dernier ait été mentionné lors
                        de la première citation. Ex. : (Office national du film du Canada [ONF], 1992).
                    </li>
                    <li>Les références complètes doivent apparaître dans la liste des références, à la fin du texte.
                    </li>
                    <li>La liste des références doit être présentée à la fin du manuscrit dans une section intitulée «
                        Références ».
                    </li>
                    <li>Lorsque plusieurs références se rapportent à un même auteur, les auteurs doivent les présenter
                        en ordre croissant d’année de publication.
                    </li>
                    <li>Lorsqu’une référence comporte plusieurs auteurs, tous les noms des auteurs référencés doivent
                        être mentionnés. Les auteurs ne doivent pas utiliser et al. dans la liste des références.
                    </li>
                </ul>
                <br><br>
                <h3 class="text-left">Normes à suivre pour la présentation des références (APA, 6e éd.)</h3>
                <p class="text-left">
                    <b>Livre: </b><br>
                    Sanders, D. H., Murph, A. F. et Eng, R. J. (1984). <em>Les statistiques, une approche nouvelle.</em>
                    Montréal, Québec : McGraw-Hill Éditeurs.
                    <br><br>
                    <b>Article: </b><br>
                    Brillon, Y. (1986). L’opinion publique et les politiques criminelles. <em>Criminologie</em>, <em>19</em>(1),
                    227-238.
                    <br><br>
                    <b>Chapitre d’un livre: </b><br>
                    Lasvergnas, I. (1987). La théorie et la compréhension du social. Dans B. Gauthier (dir.), <em>Recherche
                        sociale</em> (p. 111-173). Sillery, Québec : Presses de l’Université du Québec.
                    <br><br>
                    <b>Périodique en ligne: </b><br>
                    Smith, C. A. et Ireland, T. O. (2005). Les conséquences développementales de la maltraitance des filles.
                    <em>Criminologie</em>, 38(1), 67-102. Repéré à www.erudit.org/revue/crimino/2005/v38/n1/011486ar.pdf
                    <br><br>
                    <b>Document en ligne:</b><br>
                    APA Online. (2001). Electronic References. Repéré à www.apastyle.org/elecgeneral.html
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .text-left {
        text-align: left;
    }
    .indented-list {
        padding-left: 40px;
    }
</style>
