<!--Login Container-->
<div class="container-fluid vh-86 full-width-container">
    <div class="row p-0 h-100">
        <!-- Left Column -->
        <div class="col-md-8 p-0 d-none d-md-block position-relative d-flex justify-content-center align-items-center text-justify">
            <div class="bg-image"></div>
            <div class="text-overlay p-3 me-1 mt-3 d-flex flex-column justify-content-center align-items-center">
                <h1 class="display-3">{{ __('title_welcome_to') }} {{ __('title_program') }}</h1>
                <div class="h4">{{ __('title_welcome_4')|raw }}</div>
                <div class="row p-2 m-2 image-row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5 p-0 d-flex justify-content-between align-content-center image-container d-none d-lg-flex">
                        <img src="/dist/images/quebec.png" class="img-fluid" alt="Image">
                        <img src="/dist/images/Canada.png" class="img-fluid" alt="Image">
                        <img src="/dist/images/pum.jpg" class="img-fluid" alt="Image">
                        <img src="/dist/images/eradut.png" class="img-fluid" alt="Image">
                    </div>
                </div>
            </div>
        </div>


        <!-- Right Column -->
        <div class="col-md-4 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 mx-auto">
                            <h3 class="display-4">{{ __('label_login') }}</h3>
                            <p class="text-muted mb-4">{{ __('title_welcome_1') }}</p>

                            <form class="login-form" method="post" action="{{ req.base }}/login" id="login-form"
                                  onsubmit="return checkPassword()">
                                {{ filter('form_begin', 'login-form') |raw }}
                                <div class="form-group">
                                    <input type="email" name="email" placeholder="{{ __('label_email') }}"
                                           value="{{ post.email }}"
                                           class="form-control rounded-pill border-0 shadow-sm px-4 mb-2" required
                                           autocomplete="true">
                                </div>
                                <div class="form-group hideaway">
                                    <input type="password" name="password" id="password"
                                           placeholder="{{ __('label_password_opt') }}"
                                           class="form-control rounded-pill border-0 shadow-sm px-4"
                                           autocomplete="off">
                                </div>
                                <button type="submit"
                                        class="btn btn-primary btn-block text-uppercase mt-2 mb-2 rounded-pill shadow-sm">{{ __('label_login') }}</button>
                            </form>
                            <h5><a href="{{ req.base }}/register">{{ __('title_register') }} &raquo;</a></h5>
                            <p>{{ __('title_welcome_2') }}</p>
                            <p>{{ __('title_welcome_3') }}
                                <a href="{{ req.base }}/password_reset"> {{ __('label_clickhere') }}</a>.
                            </p>



                            {% if alert_type %}
                            <div class="card border-{{ alert_type }} mb-3 animate__animated"  id="myCard">
                                <div class="card-body text-{{ alert_type }}">
                                    <h5 class="card-title">{{ alert_title }}</h5>
                                    <p class="card-text">{{ alert_message }}</p>
                                </div>
                            </div>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        // Show the password field when the email input loses focus via TAB key
        $('input[name="email"]').on('keydown', function(e) {
            if (e.key === "Tab") {
                $('.hideaway').show();
            }
        });

        // Clear the password value on form submission if not revealed
        $('#login-form').on('submit', function() {
            if ($('.hideaway').is(':hidden')) {
                $('#password').val('');
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        // Dynamically load Animate.css
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css';
        document.head.appendChild(link);


            var cardElement = document.getElementById('myCard');
            if (cardElement) {
                cardElement.classList.add('animate__fadeInUp'); // Add fadeIn animation
                cardElement.style.opacity = 1; // Ensure visibility if previously hidden
            } else {
                console.error('Card element not found!');
            }

    });

</script>

<style>


    .display-3 {
        font-size: calc(1.3rem + 2.7vw); /* Creates a responsive font based on viewport width */
    }

    @media (min-width: 768px) {
        .display-3 {
            font-size: 2rem; /* Larger font size for medium and above */
        }
    }

    @media (min-width: 1200px) {
        .display-3 {
            font-size: 3rem; /* Even larger for larger viewports */
        }
    }
    .alert {
        /* Specific styles for alerts on the login page */
        position: static !important;  /* Ensures it overrides the fixed positioning */
        margin: 0 auto;               /* Centers the alert within its parent container if needed */
        max-width: 100%;              /* Allows it to fill its container */
    }

    .hideaway {
        display: none;
    }

    .bg-image {
        background-image: url('/dist/images/bg.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
        background-color: rgb(162, 162, 162);
        background-blend-mode: screen;
    }

    .text-overlay {
        position: absolute;
        top: 20px; /* Adjust as needed */
        left: 20px; /* Adjust as needed */
        right: 20px; /* Add padding to the right */
        z-index: 1; /* Ensure it is in front of the background image */
        color: #000000; /* Adjust text color as needed */
    }

    .text-overlay a {
        color: #002f8c; /* Change to your desired color */
    }

    .text-justify {
        text-align: justify;
    }

    .full-width-container {
        width: 100% !important;
        max-width: 100% !important;
    }

    .image-container {
        gap: 3rem; /* Adjust the gap value as needed */
    }

    .vh-86 {
        height: 86vh !important;
    }
</style>