{% import 'lib.twig' as lib %}
{{ title(__('password_reset')) }}
{% if inprogress %}

    {% if saved %}
        {% if success %}
            {{ lib.alert(success, __('password_changed')) }}
        {% else %}
            {{ lib.alert(success, __('password_unchanged')) }}
        {% endif %}
    {% else %}
        {% if not valid %}
            {{ lib.alert(false, __('password_invalid')) }}
        {% else %}
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h2>{{ __('password_reset') }} 2/2</h2>
                            </div>
                            <div class="card-body">
                                <form method="post" id="password_change" class="needs-validation" novalidate>
                                    {{ filter('form_begin', 'password_change') |raw }}
                                    <input type="hidden" name="email" value="{{ email }}">
                                    <input type="hidden" name="onetime" value="{{ onetime }}">
                                    <div class="mb-3">
                                        <label for="newpassword1" class="form-label">{{ __('label_new_password') }}</label>
                                        <input type="password" class="form-control" id="newpassword1" minlength="8" maxlength="72" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid password.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="newpassword2" class="form-label">{{ __('label_again_password') }}</label>
                                        <input type="password" class="form-control" id="newpassword2" placeholder="{{ __('hint_again_password') }}" data-parsley-equalto="#newpassword1" data-parsley-validate-if-empty required>
                                        <div class="invalid-feedback">
                                            Passwords must match.
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">{{ __('label_changepassword') }}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% else %}

    {% if emailed %}
        {{ lib.alert(true, __('password_emailed')) }}
    {% else %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h2>{{ __('password_reset') }} 1/2</h2>
                        </div>
                        <div class="card-body">
                            <form method="post" id="password_reset" class="needs-validation" novalidate>
                                {{ filter('form_begin', 'password_reset') |raw }}
                                <p>{{ __('hint_password_reset') }}</p>
                                <div class="mb-3">
                                    <label for="email" class="form-label">{{ __('label_email') }}</label>
                                    <input type="email" class="form-control" id="email" placeholder="{{ __('hint_email') }}" maxlength="100" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid email.
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">{{ __('label_emailconfirm') }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endif %}

<style>

    #main {
        margin-left: 0;
    }
</style>