{% import 'lib.twig' as lib %}
{{ title(__('password_reset')) }}

{#{{ inprogress ? 'In Progress: True' : 'In Progress: False' }}
{{ emailed ? 'Emailed: True' : 'Emailed: False' }}
{{ saved ? 'Saved: True' : 'Saved: False' }}
{{ valid ? 'Valid: True' : 'Valid: False' }}
{{ success ? 'Success: True' : 'Success: False' }}
{{ email ? 'Email: ' ~ email : 'Email: None' }}
{{ onetime ? 'Onetime: True' : 'Onetime: False' }}#}

{% if inprogress %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ __('password_reset') }} 2/2</h5>


                        {% if not saved %}
                            {% if not valid %}
                                <div class="card border-danger my-3" id="failureCard">
                                    <div class="card-body text-danger">
                                        <h5 class="card-title">{{ __('label_password_reset')|raw }}</h5>
                                        <p class="card-text">{{ __('password_invalid')|raw }}</p>
                                        <a class="btn btn-dark mt-3 float-end" href="{{ req.base }}/">{{ __('label_back_to_login') }} </a>
                                    </div>
                                </div>


                            {% else %}
                                <form method="post" id="password_change" class="needs-validation" novalidate>
                                    {{ filter('form_begin', 'password_change') |raw }}
                                    <input type="hidden" name="email" value="{{ email }}">
                                    <input type="hidden" name="onetime" value="{{ onetime }}">
                                    <div class="mb-3">
                                        <label for="newpassword1"
                                               class="form-label">{{ __('label_new_password') }}</label>
                                        <input type="password" class="form-control" id="newpassword1"
                                               name="newpassword1" minlength="8" maxlength="72" required>

                                        <div class="invalid-feedback">
                                            {{ __('password_invalid_entry') }}
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="newpassword2"
                                               class="form-label">{{ __('label_again_password') }}</label>
                                        <input type="password" class="form-control" id="newpassword2"
                                               name="newpassword2" placeholder="{{ __('hint_again_password') }}"
                                               data-parsley-equalto="#newpassword1" data-parsley-validate-if-empty
                                               required>
                                        <div class="invalid-feedback">
                                            {{ __('password_mismatch') }}
                                        </div>
                                    </div>
                                    <button type="submit"
                                            class="btn btn-primary">{{ __('label_changepassword') }}</button>
                                </form>
                            {% endif %}
                        {% else %}
                            <div class="card border-success my-3" id="successCard">
                                <div class="card-body text-success">
                                    <h5 class="card-title">{{ __('label_password_reset')|raw }}</h5>
                                    {% if success %}
                                        <p class="card-text">{{ __('password_changed')|raw }}</p>
                                    {% else %}
                                        <p class="card-text">{{ __('password_unchanged')|raw }}</p>
                                    {% endif %}

                                    <a class="btn btn-dark mt-3 float-end" href="{{ req.base }}/auth">{{ __('label_back_to_login') }}</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ __('password_reset') }} 1/2</h5>
                        {% if not emailed %}
                            <form method="post" id="password_reset" class="needs-validation" novalidate>
                                {{ filter('form_begin', 'password_reset') |raw }}
                                <p>{{ __('hint_password_reset') }}</p>
                                <div class="mb-3">
                                    <label for="email" class="form-label">{{ __('label_email') }}</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="{{ __('hint_email') }}" maxlength="100" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid email.
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">{{ __('label_emailconfirm') }}</button>
                                <a class="btn btn-dark float-end" href="{{ req.base }}/auth">{{ __('label_back_to_login') }}</a>
                            </form>
                        {% else %}
                            <div class="card border-success my-3" id="successCard">
                                <div class="card-body text-success">
                                    <h5 class="card-title">{{ __('label_password_reset')|raw }}</h5>
                                    <p class="card-text">{{ __('password_emailed')|raw }}</p>
                                    <a class="btn btn-dark mt-3 float-end" href="{{ req.base }}/auth">{{ __('label_back_to_login') }}</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<style>
    #main {
        margin-left: 0;
    }
</style>