{% import 'lib.twig' as lib %}
{{ title(__('title_register')) }}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if not created %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ __('title_register') }}</h5>
                        <form method="post" id="registration" class="needs-validation" name="registration" novalidate>
                            {{ filter('form_begin', 'registration') |raw }}
                            <div class="mb-3">

                                <input type="email" class="form-control" id="email" name="email"
                                       placeholder="{{ __('hint_email') }}"
                                       maxlength="100" required>
                                <div class="invalid-feedback">
                                    Please provide a valid email.
                                </div>
                            </div>
                            <div class="mb-3">

                                <input type="text" class="form-control" id="name" placeholder="{{ __('label_name') }}"
                                       name="name" minlength="3" maxlength="100" required>
                                <div class="invalid-feedback">
                                    Please provide a valid name.
                                </div>
                            </div>
                            <div class="mb-3">
                                <select class="form-select" id="isMale" name="isMale" required>
                                    <option selected disabled>{{ __('label_gender') }}...</option>
                                    <option value="X">{{ __('label_nogender') }}</option>
                                    <option value="F">{{ __('label_female') }}</option>
                                    <option value="M">{{ __('label_male') }}</option>
                                    <option value="O">{{ __('label_othergender') }}</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a gender.
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="profession"
                                       placeholder="{{ __('label_profession') }}" name="profession" minlength="3"
                                       maxlength="100"
                                       required>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="employer"
                                       placeholder="{{ __('label_employer') }}" name="employer" minlength="3"
                                       maxlength="100">
                            </div>
                            <div class="optional hideaway">
                                {% block hint_password_creation %}
                                    <p>
                                        {{ __('password_requirement') }}
                                    </p>
                                {% endblock %}
                                {% if session.user.id %}
                                    {% set pass_type = 'text' %}
                                    {% set pass_name = 'token' %}
                                {% else %}
                                    {% set pass_type = 'password' %}
                                    {% set pass_name = 'password' %}
                                {% endif %}

                                <div class="form-group">
                                    <input placeholder="{{ __('label_new_password') }}" type="{{ pass_type }}"
                                           id="{{ pass_name }}" minlength="8" maxlength="72" tabindex="15"
                                           class="input-password hideaway-focus">
                                    <input placeholder="{{ __('label_again_password') }}" type="{{ pass_type }}"
                                           id="{{ pass_name }}2" data-parsley-equalto="#{{ pass_name }}"
                                           data-parsley-validate-if-empty tabindex="16" class="input-password">
                                </div>
                            </div>
                            <button type="submit" class="mt-3 btn btn-primary"><span class="fg-ok"><span
                                            class="bi bi-envelope"></span></span> {{ __('label_emailconfirm') }}
                            </button>
                            <a class="btn btn-dark mt-3 float-end" href="{{ req.base }}/">Back to Login </a>
                        </form>
                    </div>
                </div>
            {% endif %}

            {% if created %}
                {% if success %}
                    <div class="card border-success mb-3 " id="successCard">
                        <div class="card-body text-success">
                            <h5 class="card-title">{{ __('label_login')|raw }}</h5>
                            <p class="card-text">{{ __('info_mailclick')|raw }}</p>
                            <a class="btn btn-dark mt-3 float-end" href="{{ req.base }}/">Back to Login </a>
                        </div>
                    </div>
                {% else %}
                    <div class="card border-danger mb-3" id="failureCard">
                        <div class="card-body text-danger">
                            <h5 class="card-title">{{ __('label_login')|raw }}</h5>
                           <p class="card-text">{{ __('register_failure')|raw }}</p>
                            <a class="btn btn-dark mt-3 float-end" href="{{ req.base }}/">Back to Login </a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>


<style>

    #main {
        margin-left: 0;
    }
</style>