{% import 'lib.twig' as lib %}
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        {% for status in config.articles.states %}
            {% if articles[status] |length > 0 %}
                <tbody>
                    <tr class="table-info">
                        <td colspan="2" class="table-primary">{{ lib.format_status(status) }}</td>
                    </tr>
                    {% for article in articles[status] %}
                        <tr>
                            <td class="text-nowrap">{{ article.volume ? article.volume~'.' : '' }}{{ article.number |default(__('issue_zero')) }}</td>
                            <td>{{ lib.format_article(article) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        {% endfor %}
    </table>
</div>