{% import 'lib.twig' as lib %}
{% use 'blocks.html' %}


{{ title(__('title_articles')) }}

{% if article.id %}
    {{ title(article.title) }}
{% endif %}

{% if saved %}
    {% if success %}
        {{ lib.alert(true, __('save_success')) }}
    {% else %}
        {{ lib.alert(false, __('save_failure')) }}
    {% endif %}
{% endif %}

<div>
    <div class="card mb-3">
        <div class="card-body">
            {{ lib.title_with_icon('pencil', article.title|default(__('title_newarticle'))) }}

            {% if article.id %}
                {% set form_begin_review = filter('form_begin', 'review') %}
                {% set issueId = article.issueId %}
            {% else %}
                {% set issueId = req.get.issueId %}
            {% endif %}

            {% if pass('can', 'edit', 'article', article.id) or
                pass('can', 'edit', 'issue', article.issueId) or
                (pass('can', 'create', 'article') and not article.id) %}
                {{ lib.modal() }}
                {% set form_begin_edit = filter('form_begin', 'articles_edit') %}
                <form id="articles_edit" method="post" enctype="multipart/form-data">
                    {{ form_begin_edit | raw }}

                    {% if article.id %}
                        <input type="hidden" name="id" value="{{ article.id }}">
                    {% endif %}

                    <!-- Status Row -->
                    <div class="row mb-3">
                        <label for="status" class="col-sm-2 col-form-label text-sm-end text-start">
                            {{ __('label_status') }}
                        </label>
                        <div class="col-sm-5">
                            <span class="form-control" name="status">{{ lib.format_status(article.status) }}</span>
                        </div>
                    </div>

                    <!-- Title Row -->
                    <div class="row mb-3">
                        <label for="title" class="col-sm-2 col-form-label text-sm-end text-start">
                            {{ __('label_title') }}
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}" required>
                        </div>
                    </div>

                    <!-- Title (EN) Row -->
                    <div class="row mb-3">
                        <label for="title_en" class="col-sm-2 col-form-label text-sm-end text-start">
                            {{ __('label_title_en') }}
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title_en" name="title_en" value="{{ article.title_en }}">
                        </div>
                    </div>

                    <!-- Issue ID Row -->
                    {% if pass('can', 'move', 'article', article.id) or
                        pass('can', 'move', 'issue', article.issueId) or not article.id %}
                        <div class="row mb-3">
                            <label for="issueId" class="col-sm-2 col-form-label text-sm-end text-start">
                                {{ __('label_issueId') }}
                            </label>
                            <div class="col-sm-3">
                                <select data-label="{{ __('label_issueId') }}" id="issueId" name="issueId" class="select form-select" required>
                                    {% if not article.id %}
                                        <option selected disabled>{{ __('label_issueId') }}...</option>
                                    {% endif %}
                                    {% if config.issues.allow_issue_zero or (article.id and issueId == 0) %}
                                        <option value="0" {% if article.id and issueId == 0 %} selected {% endif %}>
                                            {{ __('issue_zero') }}
                                        </option>
                                    {% endif %}
                                    {% for issue in issues %}
                                        <option value="{{ issue.id }}" {% if issue.id == issueId %} selected {% endif %}>
                                            {{ issue.volume ? issue.volume ~ '.' : '' }}{{ issue.number }} {{ issue.title }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% else %}
                        {% for issue in issues %}
                            {% if issue.id == issueId %}
                                <div class="row mb-3">
                                    <label for="issueId" class="col-sm-2 col-form-label text-sm-end text-start">
                                        {{ __('label_issueId') }}
                                    </label>
                                    <div class="col-sm-3">
                                        <span data-label="{{ __('label_issueId') }}" id="issueId" class="text-bg-light rounded border border-2 ms-2 p-2">
                                            {{ issue.volume ? issue.volume ~ '.' : '' }}{{ issue.number }} {{ issue.title }}
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <!-- Word Count Row -->
                    <div class="row mb-3">
                        <label for="wordCount" class="col-sm-2 col-form-label text-sm-end text-start">
                            {{ __('label_wordcount') }}
                        </label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="wordCount" name="wordCount" value="{{ article.wordCount }}" required>
                        </div>
                    </div>

                    <!-- Keywords Row -->
                    <div class="row mb-3">
                        <label for="keywords" class="col-sm-2 col-form-label text-sm-end text-start">
                            {{ __('label_keywords') }}
                        </label>
                        <div class="col-sm-10">
                            <input type="hidden" name="__arrays[]" value="keywords">
                            <select name="keywords[]" id="keywords" class="keywords feedback-tags" multiple>
                                {% for keyword in article.keywords %}
                                    <option selected>{{ keyword }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary">
                                {{ __('label_save') }}
                            </button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>