{{ title(__('title_issues')) }}
<h2 class="page-header"><span class="glyphicon glyphicon-book"></span> {{ __('title_issues') }}</h2>

<div class="row mb-3">
    <form id="issue_search" method="post" class="form-inline col-sm-6">
        {{ filter('form_begin', 'issue_search') |raw }}
        <div class="input-group">
            <input class="form-control" placeholder="{{ __('label_keyword') }}..." name="keyword" value="{{ req.post.keyword }}" minlength="3">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
    </form>
    {% if pass('can', 'create', 'issue') %}
        <form action="{{ req.base }}/issues/new" id="issue_create" method="get" class="form-inline col-sm-6">
            <button class="btn btn-outline-secondary" type="submit"><span class="text-success"><span class="glyphicon glyphicon-plus"></span></span> {{ __('label_create') }}</button>
        </form>
    {% endif %}
</div>

{% include 'articles/issues_list.html' %}