{% import 'lib.twig' as lib %}

<div class="card mb-3">
  <div class="card-body">
      {{ lib.title_with_icon('bookmark', __('title_issues')) }}

    <div class="row mb-3">
        <form id="issue_search" method="post" class="col-md-6">
            {{ filter('form_begin', 'issue_search') |raw }}
            <div class="input-group">
                <input class="form-control" placeholder="{{ __('label_keyword') }}..." name="keyword" value="{{ req.post.keyword }}" minlength="3">

                <button class="btn btn-outline-secondary" type="submit"><span class="bi bi-search"></span></button>
            </div>
        </form>
        {% if pass('can', 'create', 'issue') %}
            <form action="{{ req.base }}/issues/new" id="issue_create" method="post" class="col-md-6">
                <button class="btn btn-outline-secondary" type="submit"><span class="bi bi-plus"></span> {{ __('label_create') }}</button>
            </form>
        {% endif %}
    </div>

    {% include 'articles/issues_list.html' %}
  </div>
</div>