{% use 'blocks.html' %}
{% import 'lib' as lib %}


<!DOCTYPE html>
<html lang="{{ req.lang }}">
<head>
    {% block head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta id="appname" name="apple-mobile-web-app-title" content="{{ config.global.name }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="/client.css?CSSBUILDNUM=1728495089989702846" type="text/css">
    <script src="/client.js?JSBUILDNUM=1726201894215427331" type="text/javascript"></script>
    <title>{{ title }}</title>
<style>

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
</style>
    {% endblock %}
</head>


<body>
{% block body %}

    {% if req.redirect %}
        <meta http-equiv="refresh"
              content="{% if config.global.debug %}5{% else %}0{% endif %}; url={{ req.redirect }}">
    {% endif %}

    <nav>
        {% include 'components/top_navigation.html' %}
    </nav>

    {% if session.identified %}
        <div class="sidebar">
            {% include 'components/side_bar.html' %}
        </div>
    {% endif %}

    <div class="main-content" style="{% if session.identified %}margin-left: 250px;{% endif %}; animation: fadeIn 0.3s ease-in-out;">
        {% if session.identified %}
            {% include 'components/breadcrumb.html' %}
        {% endif %}

        {% include 'components/return_statuses.html' %}
        {% if req.warnings|length > 0 %}
            {% for warning in req.warnings %}
                {{ lib.warning(warning[0], warning[1], warning[2]) }}
            {% endfor %}
        {% endif %}

        {% include 'components/flash_messages.html' %}
        <footer>
            {% include 'components/footer.html' %}
        </footer>
    </div>

{% endblock %}
</body>

</html>