<!-- ======= Sidebar ======= -->
<aside id="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a href="{{ req.base }}/" class="nav-link collapsed{% if req.path == '' %} active{% endif %}">
                <i class="bi bi-home"></i>
                <span> {{ __('title_dashboard') }}</span>
            </a>
        </li>

        {% if pass('can_any', 'view', 'issue') %}
            <li class="nav-item">
                <a href="{{ req.base }}/issues"
                   class="nav-link{% if req.path starts with 'issues' %} active{% endif %}">
                    <i class="bi bi-menu-button-wide"></i>
                    <span> {{ __('title_issues') }}</span>
                </a>
            </li>
        {% endif %}

        {% if pass('can_any', 'view', 'article') or pass('can_any', 'edit', 'article') or pass('has_role', 'peer') %}
            <li class="nav-item">
                <a href="{{ req.base }}/articles"
                   class="nav-link{% if req.path starts with 'articles' %} active{% endif %}">
                    <i class="bi bi bi-journal me-1-text"></i>
                    <span>{{ __('title_articles') }}</span>
                </a>
            </li>
        {% endif %}

        {% if pass('can', 'move', 'article') or pass('has_role', 'editor') %}
            <li class="nav-item">
                <a class="nav-link {% if req.path starts with 'admin/reports' %} {% else %} collapsed{% endif %}"
                   data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"
                   aria-expanded="{% if req.path starts with 'admin/reports' %}true{% else %}false{% endif %}">
                    <i class="bi bi bi-journal me-1-earmark-richtext"></i><span>{{ __('title_reports') }}</span>
                    <i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav"
                    class="nav-content collapse {% if req.path starts with 'admin/reports' %} show{% endif %}"
                    data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{{ req.base }}/admin/reports/activity" {% if req.path starts with 'admin/reports/activity' %}
                            class="active"{% endif %}>
                            <i class="bi bi-activity"></i>
                            <span> {{ __('title_activity_report') }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ req.base }}/admin/reports/editing" {% if req.path starts with 'admin/reports/editing' %}
                            class="active"{% endif %}>
                            <i class="bi bi-graph-down"></i>
                            <span>{{ __('title_editing_report') }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}

        {% if pass('can', 'view', 'user') or pass('can', 'edit', 'user') %}
            <li class="nav-item">
                <a href="{{ req.base }}/admin/users"
                   class="nav-link {% if req.path starts with 'admin/users' %} active{% endif %}">
                    <i class="bi bi-people"></i>
                    <span>{{ __('title_users') }}</span>
                </a>
            </li>
        {% endif %}

        {% if pass('can', 'view', 'role') %}
            <li class="nav-item">
                <a href="{{ req.base }}/admin/roles"
                   class="nav-link  {% if req.path starts with 'admin/roles' %} active{% endif %}">
                    <i class="bi bi-key"></i>
                    <span>{{ __('title_roles') }}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</aside><!-- End Sidebar-->

<style>
/*
    .custom-menu {
        position: absolute;
        top: 20px; !* Adjust top position as needed *!
        right: 0; !* Position the button at the right edge of the sidebar *!
        transform: translateX(100%); !* Align the button to the right edge *!
        transition: top 0.3s, right 0.3s; !* Smooth transition for repositioning *!
        z-index: 9999; !* Ensure the button is above other elements *!
    }*/

    #sidebar.active .custom-menu {
        margin-right: -50px;
    }

    #sidebar.collapsed .custom-menu {
        top: 20px; /* Keep at the top when collapsed */
        right: auto; /* Remove the "right" positioning */
        left: 0; /* Position at the top left when collapsed */
    }
</style>