<header class="header fixed-top d-flex align-items-center custom-bg">
    <div class="d-flex align-items-center justify-content-between">
        <a href="{{ req.base }}/" class="logo d-flex align-items-center" style="text-decoration: none;">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50" width="100" height="50">
                <text x="20" y="35" font-family="Arial, sans-serif" font-size="20" fill="white">RC</text>
            </svg>

            <h4 class="title-program d-none d-lg-block text-white p-1 mt-2">{{ __('title_program') }}</h4>
        </a>
    </div><!-- End Logo -->

    <nav class="navbar navbar-expand-lg header-nav ms-auto me-4">
        <div class="container-fluid">
            <button class="navbar-toggler ms-auto"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="bi bi-list toggle-sidebar-btn text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item h6 font-weight-bold m-2 {% if req.path_args[0] == 'about' %} active{% endif %}">
                        <a class="nav-link text-white"
                           href="{{ req.base }}{% if session.identified %}/articles/new{% else %}/auth{% endif %}">{{ __('title_submit_article')|raw }}</a>
                    </li>
                   <div class="vertical-border text-white"></div>

                    <li class="nav-item h6 font-weight-bold m-2 {% if req.path_args[0] == 'instructions' %} active{% endif %}">
                        <a class="nav-link text-white"
                           href="{{ req.base }}/page/instructions">{{ __('title_instructions')|raw }}</a>
                    </li>
                    <div class="vertical-border text-white"></div>

                    <li class="nav-item h6 font-weight-bold m-2 {% if req.path_args[0] == 'contacts' %} active{% endif %}">
                        <a class="nav-link text-white"
                           href="{{ req.base }}/page/contacts">{{ __('title_contacts') |raw }}</a>
                    </li>
                    <div class="vertical-border text-white"></div>

                    <li class="nav-item h6 font-weight-bold m-2 {% if req.path_args[0] == 'about' %} active{% endif %}">
                        <a class="nav-link text-white" href="{{ req.base }}/page/about">{{ __('title_about') |raw }}</a>
                    </li>
                    <div class="vertical-border text-white"></div>

                    <li class="nav-item text-white m-2">
                        {% include 'components/messages_inbox.html' %}
                    </li>

                    <li class="nav-item dropdown m-2">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="langDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ req.lang }}
                            {% if req.lang == 'fr' %}
                                <span class="flag-icon flag-icon-fr ms-1"></span>
                            {% else %}
                                <span class="flag-icon flag-icon-gb ms-1"></span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdown">
                            <li><a class="dropdown-item"
                                   href="/{% if 'fr' != req.default_lang %}fr/{% endif %}{{ req.path }}{{ req.query }}">Français
                                    <span class="flag-icon flag-icon-fr ms-1"></span></a></li>
                            <li><a class="dropdown-item"
                                   href="/{% if 'en' != req.default_lang %}en/{% endif %}{{ req.path }}{{ req.query }}">English
                                    <span class="flag-icon flag-icon-gb ms-1"></span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

</header>
<style>
    .title-program {
        white-space: nowrap;
    }
    @media (max-width: 1199.98px) {
        .title-program {
            display: none !important; /* Ensure it overrides any other styles */
        }
    }

    @media (min-width: 1200px) {
        .title-program {
            display: inline-block !important;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Select the elements
        var navbarToggler = document.querySelector('.navbar-toggler');
        var header = document.querySelector('.header');
        var verticalBorders = document.querySelectorAll('.vertical-border');

        // Add a click event listener on the navbar toggler button
        navbarToggler.addEventListener('click', function() {
            var isOpen = header.style.height === 'auto';
            if (isOpen) {
                // Collapse the menu and set height back to 60px
                header.style.height = '60px';
                verticalBorders.forEach(function(border) {
                    border.style.display = 'block'; // Show borders
                });
            } else {
                // Expand the menu and set height to auto
                header.style.height = 'auto';
                verticalBorders.forEach(function(border) {
                    border.style.display = 'none'; // Hide borders
                });
            }
        });
    });
</script>