{{ title('About') }}

<div class="col-md-12 bg-light">
    <div class="login d-flex align-items-center py-5">
        <div class="container">
            <div class="row">

                <h2 class="display-3 title-underline mb-5">About</h2>

                <h3>Presentation</h3>
                <p>
                    The revue Criminologie, a journal founded in 1968 by Denis Szabo (preceded by Acta Criminologica), mainly presents empirical research findings and is aimed at both scientists and criminal justice professionals. It is a thematic journal that addresses the current concerns and interests of Quebec and foreign criminologists. The topics covered are often multidisciplinary, and the journal calls on researchers in criminology, sociology, psychology, law, and more. It is the only criminology journal published only in French in America.
                    <br><br>
                    The revue Criminologie is published twice a year thanks to grants from the Social Sciences and Humanities Research Council of Canada and the Quebec Research Fund on Society and Culture.
                    <br />
                </p>

                <h3>Mission</h3>
                <p>
                    The mission of the revue Criminologie is to publish articles presenting original research results. Authors are invited to submit their articles and follow their progress directly on our article management platform: https://www.criminologie.ca. The publication of all articles results from a rigorous peer review process, including an initial internal reading and submission to two independent experts, chosen for their knowledge of the subject.
                    <br />
                </p>

                <h3>Publisher</h3>
                <p>
                    Presses de l'Université de Montréal<br>
                    <a href="https://www.pum.umontreal.ca/revues/criminologie">https://www.pum.umontreal.ca/revues/criminologie</a><br />
                    Legal deposit : Bibliothèque nationale du Québec, Bibliothèque nationale du Canada<br />
                    ISSN : 0316-0041 (print), 1492-1367 (online)<br />
                </p>

                <h3>Open Access</h3>
                <p>
                    Current issues and archives of this journal are available in open access on the <a href="https://www.erudit.org/en/journals/crimino/#back-issues">Érudit</a> website.
                </p>

            </div>
        </div>
    </div>
</div>

<style>
    .text-left {
        text-align: left;
    }
</style>
