{{ title('About') }}

<div class="col-md-12 bg-light">
    <div class="login d-flex align-items-center py-5">
        <div class="container">
            <div class="row">

                <h2 class="display-3 title-underline mb-5">About</h2>

                <h3>Presentation</h3>
                <p>
                    Criminology, a journal founded in 1968 by Denis Szabo (preceded by Acta Criminologica), mainly presents research results and is aimed at both scientists and criminal justice professionals. It is a thematic journal that addresses the current concerns and interests of Quebec and foreign criminologists. The topics covered are often multidisciplinary, and the journal calls on researchers in criminology, sociology, psychology, law, etc. It is the only criminology journal published in French in America. A brief history of the journal is presented here.
                    <br><br>
                    Criminology is published twice a year thanks to grants from the Social Sciences and Humanities Research Council of Canada and the Quebec Research Fund on Society and Culture.
                </p>

                <h3>Mission</h3>
                <p>
                    The mission of the Criminology journal is to publish articles presenting original research results. Authors are invited to submit their articles and follow their progress directly on our article management platform: https://www.criminologie.ca. The publication of all articles results from a rigorous peer review process, including an initial internal reading and submission to two independent experts, not affiliated with the University of Montreal, chosen for their knowledge of the subject.
                </p>

                <h3>Indexing</h3>
                <p>
                    Canadian Association of Learned Journals (CALJ)<br>
                    Base<br>
                    BrowZine<br>
                    Legal Information Access Center<br>
                    Criminal Justice Abstracts (EBSCO)<br>
                    Érudit<br>
                    ExLibris Primo Central<br>
                    Francis<br>
                    Google Scholar<br>
                    HeinOnline - Index to Foreign Legal Periodicals<br>
                    Index Philosopher<br>
                    INIST<br>
                    Isidore<br>
                    Journal TOCS<br>
                    JSTOR<br>
                    Meta-lib<br>
                    Mir@bel<br>
                    National Criminal Justice Reference Service (NCJRS)<br>
                    OAIster<br>
                    Proquest<br>
                    PubMed<br>
                    Repère<br>
                    Social Service Abstracts<br>
                    Sociological Abstracts<br>
                    Web of Science<br>
                    WorldCat
                    <br><br>
                    Legal deposit: Bibliothèque nationale du Québec, Bibliothèque nationale du Canada<br>
                    ISSN: 0316-0041 (print), 1492-1367 (digital)
                </p>

                <h3>Publisher</h3>
                <p>
                    Presses de l'Université de Montréal<br>
                    <a href="https://www.pum.umontreal.ca/revues/criminologie">https://www.pum.umontreal.ca/revues/criminologie</a>
                </p>

                <h3>Open Access</h3>
                <p>
                    Current issues and archives of this journal are available in open access on the <a href="https://www.erudit.org/en/journals/crimino/#back-issues">Érudit</a> website.
                </p>

                <h3>Subscription to the printed journal</h3>
                <p>
                    Presses de l'Université de Montréal<br>
                    Subscription Service<br>
                    P.O. Box 6128, Downtown Station<br>
                    Montreal (Quebec) <br>
                    Canada H3C 3J7<br>
                    pum@umontreal.ca <br>
                </p>

            </div>
        </div>
    </div>
</div>

<style>
    .text-left {
        text-align: left;
    }
</style>
