{{ title('Contact Us') }}

<div class="col-md-12 bg-light">
    <div class="login d-flex align-items-center py-5">
        <div class="container">
            <div class="row">

                <h2 class="display-3 title-underline mb-5">Contact Us</h2>


                <h3 class="text-left">Mailing Address:</h3>
                <p class="text-left">
                    Editorial Office<br>
                    Revue Criminologie<br>
                    International Center for Comparative Criminology<br>
                    Université de Montréal<br>
                    P.O. Box 6128, Downtown Station<br>
                    Montreal (Quebec)<br>
                    Canada H3C 3J7<br>
                </p>
                <br>
                <h3 class="text-left">Our office:</h3>
                <p class="text-left">
                    Université de Montréal<br>
                    Lionel-Groulx Pavilion<br>
                    3150, Jean-Brillant, office C-4115<br>
                    Montreal (Quebec)<br><br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.5363651720345!2d-73.62028118405773!3d45.49928037910135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc919f231faae4d%3A0xc5babf62d503bfb6!2s3150+Rue+Jean-Brillant%2C+Montr%C3%A9al%2C+QC+H3T+1N8!5e0!3m2!1sen!2sca!4v1490812424708"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </p>
                <br>
                <h3 class="text-left">Editorial Team:</h3>
                <p class="text-left">
                    <b>Director</b><br>
                    <a href="mailto:david.decary-hetu@umontreal.ca">David Decary-Hetu</a> &lt;
                    david.decary-hetu@umontreal.ca &gt;
                    <br><br>
                    <b>Deputy Director</b><br>
                    <a href="mailto:catherine.arseneault.1@umontreal.ca">Catherine Arseneault</a> &lt;
                    catherine.arseneault.1@umontreal.ca &gt;
                    <br><br>
                    <b>Editorial Coordinator</b><br>
                    <a href="mailto:coordonnatrice@criminologie.ca">Lune Wagner</a> &lt; coordonnatrice@criminologie.ca
                    &gt;
                    <br><br>
                    <b>Editorial Assistant</b><br>
                    <a href="mailto:assistant@criminologie.ca">Antoine Chopin</a> &lt; assistant@criminologie.ca &gt;
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .text-left {
        text-align: left;
    }
</style>