{{ title('Instructions for Authors') }}

<div class="col-md-12 bg-light">
    <div class="login d-flex align-items-center py-5">
        <div class="container">
            <div class="row">

                <h2 class="display-3 title-underline mb-5">Instructions for Authors</h2>

                <p>
                </p>
                <h3 class="text-left">Section Policies:</h3>
                <p class="text-justify">
                    <b>Thematic Articles</b><br>
                    Each issue presents an aspect of the same problem in the form of a thematic dossier. Guest editors generally solicit specialists in the field and invite them to submit an article. Submission of texts in this section is reserved for invited authors. However, if you are interested in one of the upcoming themes, please contact the editorial office at <a href="mailto:coordonnatrice@criminologie.ca">coordonnatrice [at] criminologie [dot] ca</a>.
                    <br><br>
                    <b>Non-Thematic Articles</b><br>
                    Each issue reserves a section for non-thematic articles, which includes articles submitted by researchers who wish to report on the results of their recent work. This section is open to all and covers various topics. All articles submitted in this section are pre-evaluated internally before being peer-reviewed.
                </p>
                <p>
                </p>

                <h3 class="text-left">Peer Review Process:</h3>
                <p class="text-justify">
                    Each anonymized article is submitted to two anonymous reviewers.
                </p>
                <p>
                </p>

                <h3 class="text-left">Submissions:</h3>
                <p class="text-justify">
                    All submissions must be sent to the Revue Criminologie through the online article management system hosted on this website. Authors who do not have an account on our online article management system can create one by <a href="/register">following this link</a>.
                </p>
                <br><br><br>

                <h3 class="text-left">Submission Format</h3>
                <ul class="text-justify indented-list">
                    <li>The revue Criminologie only publishes original and unpublished manuscripts in French on research results related to delinquency, crime, and their control. Submitted manuscripts must not already be published online or in another journal.</li>
                    <li>Manuscripts must be submitted in Word format.</li>
                    <li>Manuscripts must be presented in Times New Roman, double-spaced.</li>
                    <li>Manuscripts must not exceed 8,500 words, including the title, abstract, tables, and references.</li>
                    <li>Submissions must include a title page in a separate Word file from the main manuscript, containing the title of the text, the authors' names, their professional affiliations, their emails, the corresponding author's address, and the word count of the article (title, abstract, tables, and references included).</li>
                    <li>The title must not exceed 64 characters, including spaces. A subtitle may follow with a maximum of 155 characters, including spaces.</li>
                    <li>Manuscripts must include two abstracts of no more than 15 lines each, one in English and one in French, as well as keywords (5 maximum) in each language. The English version of the title must also be provided.</li>
                    <li>If the authors received financial support from a funding agency for writing the manuscript, they must mention it on the title page.</li>
                    <li>The file containing the main manuscript must be anonymous, both in the text and its metadata. Authors must replace any mention of their names with the word AUTHOR in the text and references.</li>
                    <li>Tables must be identified in sequential order as follows: Table 1, Table 2, etc.</li>
                    <li>Tables must be created using the appropriate word processing features. The content of the cells should not be separated by tabs but by actual cells.</li>
                    <li>Tables must be presented at the end of the text. However, indicate where in the manuscript they should be inserted.</li>
                    <li>Figures must be identified in sequential order as follows: Figure 1, Figure 2, etc.</li>
                    <li>Authors must separately submit electronic versions of the figures, preferably in TIFF, EPS, or Photoshop format, with excellent resolution (minimum 300 DPI). Authors must indicate where in the manuscript the figures should be inserted.</li>
                    <li>Color figures must also be submitted in black and white.</li>
                    <li>Notes must be numbered and appear at the bottom of the page. Authors must use the appropriate word processing function to link footnotes to the text.</li>
                    <li>Footnotes are in superscript and appear immediately after the passage to which they refer, and before the punctuation. Ex.: " [...] end of the quote<sup>1</sup>. ". Authors should avoid using notes to explain and elaborate on their points and reserve them for essential clarifications.</li>
                    <li>Authors should not cite full bibliographic information in the text or footnotes. Authors should indicate, in parentheses, the name of the referenced author followed by the year of publication. If applicable, authors can indicate the pages they refer to: (Boileau, 1991, p. 312).</li>
                    <li>When more than one work published in the same year by an author is referenced, authors should distinguish them by adding the letters a, b, c, etc., to the year. Ex.: (Boileau, 1991a).</li>
                    <li>If several authors are mentioned in the same reference, authors should list the referenced authors in alphabetical order and separate them with a semicolon. Ex.: (Dupuis, 1995; Fagnan, 1991; Tardif, 1998).</li>
                    <li>If a referenced work has two authors, authors should mention both names. (Boileau and Fagnan, 1991).</li>
                    <li>If a referenced work has three, four, or five authors, authors should cite all names the first time. In subsequent citations, authors should cite the first author followed by "et al.". Ex.: (Sanders, Murph, and Eng, 1997) [1st citation in the text] and (Sanders et al., 1997) [subsequent citations].</li>
                    <li>If a work has six or more authors, authors should only cite the first author followed by "et al." throughout the text.</li>
                    <li>When the name of an organization is mentioned in a reference, authors should write the full name of the organization during the first citation. Authors can use an abbreviation, acronym, or initialism afterward, provided it was mentioned during the first citation. Ex.: (National Film Board of Canada [NFB], 1992).</li>
                    <li>Complete references must appear in the reference list at the end of the text.</li>
                    <li>The reference list should be presented at the end of the manuscript in a section titled "References".</li>
                    <li>When several references relate to the same author, authors should present them in ascending order of publication year.</li>
                    <li>When a reference has multiple authors, all referenced authors' names should be mentioned. Authors should not use et al. in the reference list.</li>
                    <li>The elements that our blind review takes into account are listed in our evaluation form <a href="https://criminologie.ca/questions.docx">available here</a>.
                    </li>
                </ul>
                <p>
                </p>

                <h3 class="text-left">Standards to Follow for Reference Presentation (APA, 7th ed.)</h3>
                <p class="text-justify">
                    <b>Book:</b><br>
                    Sanders, D. H. (1992). <em>Les statistiques: Une approche nouvelle</em> (2nd ed). McGraw-Hill.
                    <br><br>
                    <b>Paper:</b><br>
                    Brillon, Y. (1986). L'opinion publique et les politiques criminelles. <em>Criminologie</em>, 19(1), 227-238. https://doi.org/10.7202/017234ar 
                    <br><br>
                    <b>Book chapter:</b><br>
                    Côté, I., and L’équipe de la Maison Unies-Vers-Femmes. (2018). LA JUSTICE SOCIALE: SE METTRE EN ACTION POUR UN MONDE MEILLEUR. Dans <em>Les pratiques en maison d’hébergement pour femmes victimes de violence conjugale: 40 ans d’histoire</em> (1st ed., p. 117 136). Presses de l’Université du Québec. https://doi.org/10.2307/j.ctv28689c.12 
                    <br><br>
                    <b>Online periodical:</b><br>
                    Smith, C. A., & Ireland, T. O. (2005). Les conséquences développementales de la maltraitance des filles1. <em>Criminologie</em>, 38(1), 67 102. Found at https://doi.org/10.7202/011486ar
                    <br><br>
                    <b>Online document:</b><br> 
                    American Psychological Association. (2001). <em>Instructional Aids.</em> APA Style. Found at https://apastyle.apa.org/instructional-aids
                    <br><br>
                    <em><u>OR</u></em>
                    <br><br>
                    American Psychological Association. (2001). <em>Instructional Aids.</em> APA Style. Read on May 18 2025, at https://apastyle.apa.org/instructional-aids
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .text-left {
        text-align: left;
    }
    .text-justify {
        text-align: justify;
    }
    .indented-list {
        padding-left: 40px;
    }
</style>