/* Main styles */



/*Nav Bar*/
.navbar-brand {
	font-size: 1.5em; /* Adjust the font size as needed */
}

.custom-bg{
	background-color: #002f8d !important;
}
.navbar-nav-right {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.navbar-nav-right .nav-item.dropdown {
  width: auto;
}

.navbar-nav-right .dropdown-menu {
	min-width: 200px; /* Adjust as needed */
}





.content-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.new-content {
  margin-bottom: 20px;
}

.optional {
	background-color: #f4f6f8;
	padding: 0.5em;
}

.text-muted.small {
	font-style: italic;
}

.label a {
	color: #fff;
}
h1 .label, h2 .label, h3 .label {
	font-size: 50%;
}
h1 .label-default, h2 .label-default, h3 .label-default {
	background-color: #bbb;
}
h3 {
	margin-top: 2em;
}

.panel-body .table {
	margin-bottom: 0;
}

.form-toolbar .btn {
	padding: 0;
}

tr.table-section {
	text-transform: uppercase;
}

/* Slightly blur "deleted" table rows */
tr.deleted {
	text-shadow: 0 0 2px #999;
	color: transparent !important;
}
tr.deleted a {
	text-shadow: 0 0 1.5px #93daf7;
	color: transparent !important;
}
tr.deleted:hover {
	text-shadow: none;
	color: #333 !important;
}
tr.deleted:hover a, tr.deleted a:hover {
	text-shadow: none;
	color: #337ab7 !important;
}

input, select, textarea {
	color: #333 !important;  /* Bootstrap 3's #555 is excessively low-contrast */
}

textarea {
	min-height: 6em;
}

.dropdown.buttons {
	width: auto;
}
.dropdown.buttons .dropdown-menu {
	padding: 2px;
	margin: 0;
}
.dropdown.buttons input {
	width: 100%;
	min-width: 20em;
}

.dropdown-toggle {
	cursor: pointer;
}

.spacing {
	color: transparent !important;
}

/* Hint paragraphs */
.hint {
 padding: 1em;
 margin-top: 1em;
 margin-bottom: 1em;
 color: #444;
 font-size: 90%;
 background-color: #f8f8f8;
 position: relative;
 width: 50%;
 min-width: 24em !important;
}

.hint:before {
 display: block;
 position: absolute;
 top: 0.25em;
 left: 1.75em;
 width: 1em;
 height: 1em;
 fill: #444;
 content: '';
}
.Xint .hint-content {
	margin-left: 1.5em;
}

.report table, table.report {
	page-break-inside: avoid;
}
.report .panel-heading {
	font-size: 120%;
}

.report .status {
	white-space: nowrap;
}
.report .status-change {
	margin-right: 1em;
	white-space: nowrap;
}
.report .version {
	margin-right: 1em;
}

.user-identity {
	margin-right: 1em;
	white-space: nowrap;
}
/* Sidebar */
/*.sidebar {
	position: fixed;
	top: 56px; !* Adjust this value to match the height of your top navigation *!
	bottom: 0;
	left: 0;
	z-index: 1000;
	width: 250px; !* Fixed width for sidebar *!
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
	transition: width 0.3s;
}


.sidebar.collapsed {
	width: 80px; !* Width for collapsed sidebar *!
}

.sidebar .nav-item .nav-link {
	display: flex;
	align-items: center;
}

.sidebar .nav-item .nav-link .icon {
	margin-right: 10px;
}

.sidebar.collapsed .nav-item .nav-link .text {
	display: none;
}*/

/* Top Navigation */
.top-navigation {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1001;
}

.navbar-nav > .nav-item {
	display: flex;
	align-items: center; /* Vertically center items inside the container */
}

.navbar-nav .nav-link {
	display: flex;
	align-items: center; /* Vertically center the text/icon inside links */
	text-decoration: none; /* Optional: ensure links don’t have underlines */
}

.vertical-border {
	width: 2px;
	background-color: rgba(255, 255, 255, 0.77);
	margin: 12px 5px; /* Adjust the margin as needed */
	height: 100%; /* Ensure the div has height */
	min-height: 40px; /* Set a minimum height */
	display: flex;
	align-items: center; /* Ensure borders are aligned vertically too */
	justify-content: center; /* Center borders if their size affects layout */


}
.header-nav .nav-item.dropdown {
	margin-right: 20px; /* Adjust the value as needed */
}
/* Main content */
.main-content {
	padding: 20px;
	transition: margin-left 0.3s;
	display: flex;
	flex-direction: column;
/*min-height: calc(100vh - 56px);*/ /* Full height minus top navigation */
}

.main-content.collapsed {
	margin-left: 80px; /* Adjust margin for collapsed sidebar */
}

.main-content > footer {
	margin-top: auto; /* Push footer to the bottom */
}

/* Responsive adjustments */
@media (max-width: 768px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: sticky;
	}
	.main-content {
		margin-left: 0;
	}
}

#sidebarCollapse {
	position: fixed;
	top: 73px;
	left: 276px;
	z-index: 999; /* Ensure the button appears above other content */
	width: 40px;
	height: 40px;
	background-color: #3e60c9; /* Button background color */
	color: #fff; /* Button text color */
	transition: transform 0.3s ease; /* Smooth transition for sliding */
}

#sidebarCollapse.collapsed {
	left: -18px; /* Move button off-screen when sidebar is collapsed */
}
@media (max-width: 1199px) {
	#sidebarCollapse {
		top: 73px;
		left: -9px;
	}

	#sidebarCollapse.collapsed {
		left: 276px; /* Align the button properly on mobile when collapsed */
	}
}

/* Left menu */
.nav-sidebar {
	margin: 0 -21px 20px -20px;
}
.nav-sidebar .active, .nav-sidebar .active:hover {
	color: #fff;
	background-color:  #134672;
}
.nav-sidebar .nav-content a:hover,
.nav-sidebar .nav-content a.active {
	color: #4154f1;
}

.nav-sidebar .nav-content a.active i {
	background-color: #4154f1;
}

.nav-sidebar .nav-second-level .active, .nav-sidebar .nav-second-level .active:hover {
	color: #fff;
	background-color: #134672;
}
.nav-sidebar .nav-second-level {
	padding-left: 30px;
}
.nav-sidebar .nav-second-level li {
	display: inline-block;
}
.sidebar {
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
	left: 0;
	display: block;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		bottom: 0;
		z-index: 1000;
		top: 62px;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.nav-sidebar .nav-second-level li {
		display: block;
	}
}


/* Read-only data lists */
dl.dl-horizontal dd {
	margin-bottom: 1em;
}

/* Peer form */
form#peer_review .fileupload-multiple {
	margin-top: 1em;
}
form#peer_review button {
	margin-top: 1em;
	margin-right: 2em;
}

/* Printable report cosmetic tweaks */
@media print {
	h3 {
		background-color: #000 !important;
		color: #fff !important;
		padding: 0.25em !important;
	}
	h3 small {
		color: #fff !important;
	}
}

.selectize-control.multi .selectize-input > div {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
    padding: 5px;
    background-color: #e9ecef;
    border-radius: 4px;
}

.selectize-control.multi .selectize-input > div .btn-close {
    margin-left: 5px;
}

.input-error {
	display: block;
	width: 100%;
	margin-top: .25rem;
	font-size: 80%;
	color: #dc3545;
}
